@import '../css/scss/Contact';
@import '../css/scss/Footer';
@import '../css/scss/FourColumn';
@import '../css/scss/Header';
@import '../css/scss/Hero';
@import '../css/scss/Plain';
@import '../css/scss/Slider';
@import '../css/scss/TwoColumn';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
}










